doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500,700,900")
    link(rel="stylesheet" href='/style.css')
  body.js-body

    div.container
      form.view.js-join
        h2="WELCOME TO Quiz"
        input(type='text' name='name' placeholder='Your name' required='required')
        input(type='number' name='team' placeholder='Your team number' required='required')
        button(type='submit')='Join!'

      div.view.js-joined.hidden
        button.js-buzzer.buzzer(onclick=onclick="javascript:var audio=document.getElementById('audio');audio.play();")='BUZZ'
        p.js-joined-info=""
        button.js-edit.secondary='Change teams'
      audio#audio(src='/sound.mp3')
    script(src='/socket.io/socket.io.js')
    script(src='/join.js')
